<% @task.sensors.each do |sensor| %>
	<script type="text/javascript" charset="utf-8">
		$(function() {
			new Highcharts.Chart({
				chart: {
					renderTo: "<%= sensor.name %>"
				},
				colors: [ '#00CC00','#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
				title: {
					text: "<%= sensor.name %>"
				},
				xAxis: {
					type: "datetime"
				},
				yAxis: {
					title: {
						text: "<%= sensor.sensor_type.unit %>"
					}
				},
				tooltip: {
					formatter: function() {
						return Highcharts.dateFormat("%B %e, %Y", this.x) + ': ' +
						Highcharts.numberFormat(this.y, 2) + "<%= sensor.sensor_type.unit %>";
					}
				},
				series: [			
					{
						name: "<%= sensor.name %>",
						pointInterval: <%= sensor.intervall * 1000 %>,
						pointStart: <%= sensor.measured_datas.first.messzeit %>,
						data: [ 1, 2, 3, 4, 5, 10, 20 ]
					}
				]
			});
		 });
	</script>
	
	<div id="<%= sensor.name %>" style="width:560px; height:300px;"></div>
<% end %> 